{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}

    {% if form.title.errors %}
        {% for error in form.title.errors %}
            <p class="alert alert-danger">{{ error }}</p>
        {% endfor %}
    {% endif %}
    {% if form.content.errors %}
        {% for error in form.content.errors %}
            <p class="alert alert-danger">{{ error }}</p>
        {% endfor %}
    {% endif %}
    <form action="" method="post">
        {{ form.csrf_token }}
        {{ form.title.label(class='form-control-label') }} : {{ form.title(class='form-control') }}
        {{ form.content.label(class='form-control-label') }} : {{ form.content(class='form-control') }}
        <button type="submit" class="btn btn-info mt-3">Update</button>
    </form>
{% endblock %}